<div class="out-side-pad ">
  <div class="center">
			<h1 class="title">404: Batman Not Found</h1>
		</div>
<div class="center">
		
		<mat-card class="example-card center">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Batman</mat-card-title>
				<mat-card-subtitle>The Dark Knight</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="https://static.comicvine.com/uploads/original/11121/111217887/4632292-2736548823-Batma.jpg" alt="I'm Batman">
			<mat-card-content>
				<p>404 Batman Not Found</p>
				<p>{{quote}}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button routerLink="/dashboard"><mat-icon class="example-icon fas fa-home" aria-hidden="true"  ></mat-icon>Home</button>
			</mat-card-actions>
		</mat-card>
</div>

</div>
