@mixin dash-theming($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .spot-info {
      background-color: mat-color($primary);
    }
    hr {
      background-color: mat-color($accent);
      
    }
    
  } 