mat-checkbox {
    margin: 5px;
}

.back-office-item {
    padding: 30px 15px;
}
.user-item {
    margin: 15px;
  }

.example-icon{
    margin: 5px;
}

.main {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .fab {
    position:fixed;
    right:0;
    bottom:0;
    margin: 15px 15px;
    z-index: 2;
  }

  .can-click {
      cursor: pointer;
      cursor: hand;
  }