<div class="center out-side-pad ">
  <img src="https://png.pngtree.com/element_origin_min_pic/16/10/22/387a1785a1a188c4df021c89fe074e57.jpg" alt="iWannaSurf">
</div>

<div class="center ">
  <h1 >Welcome to iWannaSurf</h1>
</div>
<div class="center">
  <button color="accent" mat-button routerLink="/not/found">Not Found</button>
</div>

<!-- <div class="center out-side-pad ">
  <img src="https://png.pngtree.com/element_origin_min_pic/16/10/22/387a1785a1a188c4df021c89fe074e57.jpg" alt="iWannaSurf">
</div>

<div class="center ">
  <h1 >Welcome to iWannaSurf</h1>
</div>

<div class="center out-side-pad ">
  <img src="https://png.pngtree.com/element_origin_min_pic/16/10/22/387a1785a1a188c4df021c89fe074e57.jpg" alt="iWannaSurf">
</div>

<div class="center ">
  <h1 >Welcome to iWannaSurf</h1>
</div> -->