.example-icon {
    padding: 0 14px;
  }
  
  .app-logo{
    padding: 0 5px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  #name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .space {
    margin: 2px;
  }
  
  button {
    border: none;
    font-family: Arial;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  
  mat-icon {
    font-size: 20px; 
  }
  
.interval {
  margin: 10px;
}

.tile {
  padding: 10px;
}
.example-header-image {
  background-image: url('/assets/surfer.png');
  background-size: cover;
}

.identification-content {
  margin: 15px;
}

mat-form-field {
  margin: 5px;
}
.header-map {
  background-image: url('/assets/map.png');
  background-size: cover;
}